.result {
  background-image: url(images/scan-bg.png);
  background-repeat: repeat-x;
  background-size: contain;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-caption {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #fff;
}

.id-box {
  text-align: center;
  font-size: 0.8rem;
  color: #000;
}

.time-box {
  margin: 0 auto;
  text-align: center;
}

.bao-ico {
  margin-left: 1rem;
}
.qr-ico {
  margin-right: 1rem;
}

.panel {
  border-radius: 20px;
  width: 90vw;
  margin-top: 1rem;
  background-color: #fff;

  .info-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(images/top-bg-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.code-box {
  margin: 1rem auto 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 440px;
  background-image: linear-gradient(to right, #3ba984, #5fdf95, #3ba984);
  border-radius: 10px;
  padding: 12px;

  .text {
    margin-left: 0.4rem;
    color: #fff;
    font-weight: bolder;
    font-size: 1.6rem;
  }
  .flash-text {
    margin-left: 0.4rem;
    color: #fff;
    font-weight: normal;
    font-size: 1.4rem;
    animation: bling 1s ease infinite;
  }
}

.count-box {
  display: flex;
  flex-direction: row;
  padding: 20px;
  .left {
    flex: 1;
    margin-right: 10px;
  }
  .right {
    flex: 1;
    margin-left: 10px;
  }

  .line {
    width: 180px;
    height: 1px;
    border-top: 1px solid #c7c9d6;
    margin: 10px 0;
  }

  .blue {
    color: #4b6dc7;
    font-weight: 500;
    &.warn-right {
      margin-left: 1.6rem;
    }
    &.warn {
      position: absolute;
      font-size: 3rem;
      font-weight: bolder;
      top: -85rpx;
      font-family: Arial;
      transform: scale(0.8, 1.2);
    }
  }
  .gray {
    color: #5f636f;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .pur-box {
    padding: 20px;
    border-radius: 10px;
    background-color: #e8ecf8;
    position: relative;
    display: flex;
    flex-direction: column;

    .pos {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 150rpx;
      // border: 1px solid red;
      overflow: hidden;
    }

    .text-box {
      position: relative;
      z-index: 2;
      .hor {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .bg-ico {
      position: absolute;
      right: -20px;
      bottom: -20px;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      background-color: #cfddf8;
      background-size: contain;
      z-index: 1;
      &.hs {
        background-image: url(images/hs.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: 40%;
      }
      &.ym {
        background-image: url(images/ym.png);
        background-repeat: no-repeat;
        background-position: 50% 10px;
        background-size: 70%;
      }
    }
  }
}

.return-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90vw;
}

.copyright-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #b0b1b4;
  font-size: 1rem;
}

.split {
  height: 1px;
  margin: 0.4rem 0;
  border-bottom: 1px dashed #dcdcdc;
}

.photo-outer {
  width: 400px;
  height: 400px;
}
.photo {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  padding: 1rem;
  margin: 1rem auto 0 auto;

  //4角遮罩
  .q {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    z-index: 2;
    background-color: #fff;
    &.tl {
      top: 0;
      left: 0;
    }
    &.tr {
      top: 0;
      right: 0;
    }
    &.bl {
      bottom: 0;
      left: 0;
    }
    &.br {
      bottom: 0;
      right: 0;
    }
  }

  .b {
    position: absolute;
    &.top {
      border-top: 20px dotted #4acb26;
      width: 1800px;
      top: 0;
      left: -400px;
      right: 0;
      animation: toright 10s linear infinite;
      z-index: 1;
    }
    &.right {
      border-left: 20px dotted #4acb26;
      height: 1800px;
      top: -400px;
      right: 0;
      animation: tobottom 10s linear infinite;
      z-index: 1;
    }
    &.bottom {
      border-top: 20px dotted #4acb26;
      width: 1800px;
      bottom: 0;
      right: -400px;
      animation: toleft 10s linear infinite;
      z-index: 1;
    }
    &.left {
      border-left: 20px dotted #4acb26;
      height: 1800px;
      bottom: -400px;
      left: 0px;
      animation: totop 10s linear infinite;
      z-index: 1;
    }
  }
  @keyframes toright {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(400px);
    }
  }
  @keyframes toleft {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-400px);
    }
  }
  @keyframes totop {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-400px);
    }
  }
  @keyframes tobottom {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(400px);
    }
  }

  @keyframes bling {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.1;
    }
  }
}
