.index {
  box-sizing: border-box;
  height: 100vh;
  padding-top: 2rem;
  overflow-y: auto;
  background-image: url(images/top-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;

  .caption {
    color: #fff;
    padding: 1rem;
  }
  .alert {
    color: #fff;
    padding: 1rem;
  }

  .fn-button {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1.2rem 1rem;
    font-size: 1.2rem;
    // border: 1px solid green;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .ico {
      flex: none;
    }
    .text {
      flex: 1;
      margin-left: 1rem;
    }
  }

  .b-text {
    font-size: 0.8rem;
    color: #bababa;
    text-align: center;
    padding-bottom: 1rem;
  }
}
